interactions:
- request:
    body: '{"location": "westus", "tags": {"use": "az-test"}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001","name":"clitest.rg000001","location":"westus","tags":{"use":"az-test"},"properties":{"provisioningState":"Succeeded"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1196']
    status: {code: 201, message: Created}
- request:
    body: 'b''{"name": "iot000003"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkNameAvailability?api-version=2018-04-01
  response:
    body: {string: '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus", "properties": {"eventHubEndpoints": {"events": {"retentionTimeInDays":
      1, "partitionCount": 2}}}, "sku": {"name": "S1", "capacity": 1}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2018-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"377c3343-75bb-4244-98a3-0fb84a830c4b","resourcegroup":"clitest.rg000001","properties":{"state":"Activating","provisioningState":"Accepted","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":2}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/operationResults/b3NfaWhfMmIxOTExYTUtZGQwMi00MjJmLWE2NjYtMDM3NWMzY2U0Njk0?api-version=2018-04-01&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/operationResults/b3NfaWhfMmIxOTExYTUtZGQwMi00MjJmLWE2NjYtMDM3NWMzY2U0Njk0?api-version=2018-04-01&asyncinfo
  response:
    body: {string: '{"status":"Running"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003?api-version=2018-04-01
  response:
    body: {string: '{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003","name":"iot000003","type":"Microsoft.Devices/IotHubs","location":"westus","tags":{},"subscriptionid":"377c3343-75bb-4244-98a3-0fb84a830c4b","resourcegroup":"clitest.rg000001","etag":"AAAAAAHlToo=","properties":{"operationsMonitoringProperties":{"events":{"None":"None","Connections":"None","DeviceTelemetry":"None","C2DCommands":"None","DeviceIdentityOperations":"None","FileUploadOperations":"None","Routes":"None"}},"state":"Active","provisioningState":"Succeeded","ipFilterRules":[],"hostName":"iot000003.azure-devices.net","eventHubEndpoints":{"events":{"retentionTimeInDays":1,"partitionCount":2,"partitionIds":["0","1"],"path":"iot000003","endpoint":"sb://iothub-ns-iotxhyuete-460289-5b5ddcdff8.servicebus.windows.net/"},"operationsMonitoringEvents":{"retentionTimeInDays":1,"partitionCount":2,"partitionIds":["0","1"],"path":"iot000003-operationmonitoring","endpoint":"sb://iothub-ns-iotxhyuete-460289-5b5ddcdff8.servicebus.windows.net/"}},"routing":{"endpoints":{"serviceBusQueues":[],"serviceBusTopics":[],"eventHubs":[],"storageContainers":[]},"routes":[],"fallbackRoute":{"name":"$fallback","source":"DeviceMessages","condition":"true","endpointNames":["events"],"isEnabled":true}},"storageEndpoints":{"$default":{"sasTtlAsIso8601":"PT1H","connectionString":"","containerName":""}},"messagingEndpoints":{"fileNotifications":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"enableFileUploadNotifications":false,"cloudToDevice":{"maxDeliveryCount":10,"defaultTtlAsIso8601":"PT1H","feedback":{"lockDurationAsIso8601":"PT1M","ttlAsIso8601":"PT1H","maxDeliveryCount":10}},"features":"None"},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: 'b''{"name": "dps000002"}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/checkProvisioningServiceNameAvailability?api-version=2017-11-15
  response:
    body: {string: '{"nameAvailable":true,"reason":"Invalid","message":null}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"location": "westus", "properties": {}, "sku": {"name": "S1", "capacity":
      1}}'
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2017-11-15
  response:
    body: {string: '{"name":"dps000002","location":"westus","properties":{"state":"Activating","provisioningState":"Accepted","allocationPolicy":"Hashed","idScope":null},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"377c3343-75bb-4244-98a3-0fb84a830c4b","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      azure-asyncoperation: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYjYwNDNkMTYtNzQ2NS00OWI1LThmY2EtMGU4YzNmNmY5MDBh?api-version=2017-11-15&asyncinfo']
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-resource-requests: ['4999']
    status: {code: 201, message: Created}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfYjYwNDNkMTYtNzQ2NS00OWI1LThmY2EtMGU4YzNmNmY5MDBh?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-version=2017-11-15
  response:
    body: {string: '{"etag":"AAAAAAAfrU8=","name":"dps000002","location":"westus","properties":{"state":"Active","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne00018238"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"377c3343-75bb-4244-98a3-0fb84a830c4b","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices?api-version=2017-11-15
  response:
    body: {string: '{"value":[{"etag":"AAAAAAAfrU8=","name":"dps000002","location":"westus","properties":{"state":"Active","iotHubs":[],"allocationPolicy":"Hashed","serviceOperationsHostName":"dps000002.azure-devices-provisioning.net","deviceProvisioningHostName":"global.azure-devices-provisioning.net","idScope":"0ne00018238"},"resourcegroup":"clitest.rg000001","type":"Microsoft.Devices/provisioningServices","id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002","subscriptionid":"377c3343-75bb-4244-98a3-0fb84a830c4b","tags":{},"sku":{"name":"S1","tier":"Standard","capacity":1}}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMmFiMmIyZmUtZmQ0NS00MWZjLWFiMDAtNjRjYzFhNGRhNDVi?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/listkeys?api-version=2017-11-15
  response:
    body: {string: '{"value":[{"keyName":"provisioningserviceowner","primaryKey":"EhfkYZN0eBGGHFkgP7ERTDOlp3T9diBiGU3vKBU1VAg=","secondaryKey":"QuNGqBbCCPhHSPf8Lfx1XH6wE6TCgearokyXzLRSdPc=","rights":"ServiceConfig,
        DeviceConnect, EnrollmentWrite"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''{"location": "westus", "properties": {"iotHubs": [], "allocationPolicy":
      "GeoLatency", "authorizationPolicies": [{"keyName": "provisioningserviceowner",
      "primaryKey": "EhfkYZN0eBGGHFkgP7ERTDOlp3T9diBiGU3vKBU1VAg=", "secondaryKey":
      "QuNGqBbCCPhHSPf8Lfx1XH6wE6TCgearokyXzLRSdPc=", "rights": "ServiceConfig, DeviceConnect,
      EnrollmentWrite"}, {"keyName": "policy000004", "rights": "EnrollmentRead"}]},
      "sku": {"name": "S1", "capacity": 1}}'''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMTZiMjNkMmMtMzkwOS00NTU3LTkzZGYtZmFkZWU4ZWE3MDk3?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/keys/policy000004/listkeys?api-version=2017-11-15
  response:
    body: {string: '{"keyName":"policy000004","primaryKey":"myKeTXavLR+jwu6cSYuRQmr7wiZKrZIlwp+yRW03AX0=","secondaryKey":"wfcMqiW+eejw0CpDMfFwVHt/GVPPjwls0fo1CTHfhO0=","rights":"EnrollmentRead"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfZjMwNDg4NmUtMDM1MS00ODI5LTk4MGUtMjYzMDdlZjA0Yjg1?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOThmZTFmYmMtNWVjMy00MWFmLTg5NTctMzJlZTA5NDFhNTAx?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2017-11-15
  response:
    body: {string: '{"value":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIPVO9qScPhFgwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlQzZnFjdDUybnJsd3ZsdTJkMB4XDTE4MDUwODIxMDEwN1oXDTE4\r\nMDUxMjIxMDEwN1owIzEhMB8GA1UEAwwYVEVTVENFUlQzZnFjdDUybnJsd3ZsdTJk\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQA2CXDyVBB71dg1c6FBOU7r\r\nlF8O5gEF4t2Un/3YvXBhid6HygWNgTr4D809Et5P20pGqYP2zo7tGjKAfdTc6W1W\r\nEzzDHKQSWJSPwx1THUxxqvslEff8qrvrbcMWGkDcl30jbZqDMNfLk2Y9ObRaN+YJ\r\nxl5EIMxKw3X3bqLXk2xzlxo31NYQLUdzoJ9Qe46gDV//dcf4/xXw64V6ylA[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates?api-version=2017-11-15
  response:
    body: {string: '{"value":[{"properties":{"subject":"CN=TESTCERT000006","expiry":"Sat,
        12 May 2018 21:01:07 GMT","thumbprint":"A7014E48AF32389F6013E80085A86D4BC001EFC9","isVerified":false,"created":"Wed,
        09 May 2018 21:01:09 GMT","updated":"Wed, 09 May 2018 21:01:09 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAAfrXQ="}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDHTCCAgWgAwIBAgIIPVO9qScPhFgwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlQzZnFjdDUybnJsd3ZsdTJkMB4XDTE4MDUwODIxMDEwN1oXDTE4\r\nMDUxMjIxMDEwN1owIzEhMB8GA1UEAwwYVEVTVENFUlQzZnFjdDUybnJsd3ZsdTJk\r\nMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4AMIIBCQKCAQA2CXDyVBB71dg1c6FBOU7r\r\nlF8O5gEF4t2Un/3YvXBhid6HygWNgTr4D809Et5P20pGqYP2zo7tGjKAfdTc6W1W\r\nEzzDHKQSWJSPwx1THUxxqvslEff8qrvrbcMWGkDcl30jbZqDMNfLk2Y9ObRaN+YJ\r\nxl5EIMxKw3X3bqLXk2xzlxo31NYQLUdzoJ9Qe46gDV//dcf4/xXw64V6ylAyO+V6\r\ncpB2vRvHyAk9KMuNM5XVRjy8VbkV5y7clDdKnPF0FBW2WLU/TBmXw6u6Zs2j4PGo\r\nwMqHPtc42ocgpFJgj7P3/v0MU9pZiOBSF9OTlNddk6goPqGNI/sQ/w3DAqx/0Ox/\r\nAgMBAAGjVjBUMBIGA1UdEwEB/wQIMAYBAf8CAQEwHQYDVR0OBBYEFNo5o+5ea0sN\r\nMlW/75VgGJCv2AcJMB8GA1UdIwQYMBaAFNo5o+5ea0sNMlW/75VgGJCv2AcJMA0G\r\nCSqGSIb3DQEBCwUAA4IBAQAEwK0W6EHo5v69N2u+EaefzlinrC4JJNdhKup1D5N5\r\nJTjGL8EELHBC+az2ggV6EESTNEs6W3vk3ZB3zEX1oHZX+mZoUs09Wj/o/OxJbL7V\r\njiuO+yL4xMST/nN6VeuVAlWWAuLirOt+B5FpbmqzhfB17Z07eB0UwJk1zzRbqH9w\r\nsKsvrCwfjrj7fVLKJghbW0amYcbpqA/NeOIsjFv67jMJoBL4bNfIddIpiItcOB6G\r\nvbA62Qfmn/JqOG8ek7AEaSOmz6NQjq9A7UymxY0zeFO4NVq/JunBEESO+T35spZd\r\n3rY+uMp4ZgNbJG10PCj/d1xTQedZNblrVm126euKjTl4\r\n-----END
      CERTIFICATE-----\r\n"}'
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: [AAAAAAAfrXQ=]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005?api-version=2017-11-15
  response:
    body: {string: '{"properties":{"subject":"CN=TESTCERT000006","expiry":"Sat, 12
        May 2018 21:01:07 GMT","thumbprint":"A7014E48AF32389F6013E80085A86D4BC001EFC9","isVerified":false,"created":"Wed,
        09 May 2018 21:01:09 GMT","updated":"Wed, 09 May 2018 21:01:12 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAAfrXU="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1199']
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
      If-Match: [AAAAAAAfrXU=]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005/generateVerificationCode?api-version=2017-11-15
  response:
    body: {string: '{"properties":{"verificationCode":"C8160BAD66A8B9A09212880D4887957E3AEE6C8B000D737E","subject":"CN=TESTCERT000006","expiry":"Sat,
        12 May 2018 21:01:07 GMT","thumbprint":"A7014E48AF32389F6013E80085A86D4BC001EFC9","isVerified":false,"created":"Wed,
        09 May 2018 21:01:09 GMT","updated":"Wed, 09 May 2018 21:01:12 GMT"},"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/certificates/certificate000005","name":"certificate000005","type":"Microsoft.Devices/provisioningServices/Certificates","etag":"AAAAAAAfrXY="}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
- request:
    body: '{"certificate": "-----BEGIN CERTIFICATE-----\r\nMIIDAjCCAeqgAwIBAgIIKcdWuU+25fkwDQYJKoZIhvcNAQELBQAwIzEhMB8GA1UE\r\nAwwYVEVTVENFUlQzZnFjdDUybnJsd3ZsdTJkMB4XDTE4MDUwOTIxMDExMloXDTE4\r\nMDUxMjIxMDExMlowOzE5MDcGA1UEAwwwQzgxNjBCQUQ2NkE4QjlBMDkyMTI4ODBE\r\nNDg4Nzk1N0UzQUVFNkM4QjAwMEQ3MzdFMIIBITANBgkqhkiG9w0BAQEFAAOCAQ4A\r\nMIIBCQKCAQAtAbOv91D+Vgwb1mEyi/XplpNkHvS+vwrRohegeeAVrA0RUp8ClVAZ\r\n6pQ75tJG62xKq4ZKF5y0ZplbLEByIoMQIBwGtEGbQFGredGxEKMMxYoH6W2nOcQ4\r\nDe5VUnH4GjrxVhMyFoRd8p[...]
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/providers/Microsoft.Devices/IotHubs?api-version=2018-04-01
  response:
    body: {string: '{"value":[{"id":"/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/resource-client-01/providers/Microsoft.Devices/IotHubs/iothub-client-01","name":"iothub-client-01","type":"Microsoft.Devices/Io[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/listkeys?api-version=2018-04-01
  response:
    body: {string: '{"value":[{"keyName":"iothubowner","primaryKey":"c9jVOLOwR3yfNEvcmTVx2SpbXVslOYBMZ2a+FluRBQ0=","secondaryKey":"x9l0LJfXULG0cHJ59AgxCGwTJHnYY76Af0PTzYZX5pE=","rights":"RegistryWrite,
        ServiceConnect, DeviceConnect"},{"keyName":"service","primaryKey":"W+zNotq01aw4WuiJ+mrKJ2KZ2rjn/mjMQu/svrFJgm0=","secondaryKey":"19z1s4bYfT1cVMd6EhUz10xw09Fj/IuDAxFj+KrVUg4=","rights":"ServiceConnect"},{"keyName":"device","primaryKey":"R1eCTox7LEvPvTJvQZMzrOO0DQjTKm2KUin97ytpsNk=","secondaryKey":"EKzEnzXDw1QHVnmynfmfprojAXJhZq+FaWeQbZCO75o=","rights":"DeviceConnect"},{"keyName":"registryRead","primaryKey":"THaGRjM6XCnI6BEl6j6ENcioKOQS/XcKWFg20YF1lF0=","secondaryKey":"JOkvhIfLfdYNk7/4JgSzMZufhkzEicNYgOyT4xw0ltM=","rights":"RegistryRead"},{"keyName":"registryReadWrite","primaryKey":"kjhSpuVhoeXVM3n3NJ55so6N1b563tPgc/oz/zz5NnU=","secondaryKey":"pKH7gMIgfyYMj7qyUDSEwuRIE0iW+fsII/btKgHBk+M=","rights":"RegistryWrite"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1197']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/operationResults/b3NfaWhfYjlhNGNjMTctZDg4OS00OWRiLWExNmItOWY1N2ViYTczODk3?api-version=2018-04-01&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: POST
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/IotHubs/iot000003/IotHubKeys/key000007/listkeys?api-version=2018-04-01
  response:
    body: {string: '{"keyName":"key000007","primaryKey":"eV4rTAVH//6v/UiUl7gY7c7x/Nj8SujzHbrQh9jOIOY=","secondaryKey":"SO1JMaMHCGfMW2GjStqmvB0z9cNtzRHIyRs/HZ7PIDY=","rights":"RegistryWrite"}'}
    headers:
      content-type: [application/json; charset=utf-8]
      x-ms-ratelimit-remaining-subscription-writes: ['1198']
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNDYwMTc4MGItZmE1MC00OTVjLWFhNmMtMjUyNjdmN2IyODYz?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: 'b''b\''{"location": "westus", "properties": {"iotHubs": [{"applyAllocationPolicy":
      true, "allocationWeight": 10, "connectionString": "HostName=iot000003.azure-devices.net;SharedAccessKeyName=key000007;SharedAccessKey=****",
      "location": "westus"}], "allocationPolicy": "GeoLatency"}, "sku": {"name": "S1",
      "capacity": 1}}\'''''
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: PUT
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002?api-ve[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfOWYxY2I5ZTgtODNhZi00MmQzLWI3NWMtZjRkY2MwNGY0YmIy?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfMmVkYTBmNWYtZDA4OC00NzI4LWFkMjUtZmU0NzVmYzM1YTU0?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
[...]
- request:
    body: null
    headers:
    method: GET
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourceGroups/clitest.rg000001/providers/Microsoft.Devices/provisioningServices/dps000002/operationResults/b3NfaWRfNDA0MGIyNWQtYjIwZS00MWEwLWI4ZDQtOGExZWU3MjljOThk?api-version=2017-11-15&asyncinfo
  response:
    body: {string: '{"status":"Succeeded"}'}
    headers:
      content-type: [application/json; charset=utf-8]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json; charset=utf-8]
    method: DELETE
    uri: https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/resourcegroups/clitest.rg000001?api-version=2017-05-10
  response:
    body: {string: ''}
    headers:
      location: ['https://management.azure.com/subscriptions/00000000-0000-0000-0000-000000000000/operationresults/eyJqb2JJZCI6IlJFU09VUkNFR1JPVVBERUxFVElPTkpPQi1DTElURVNUOjJFUkdDSUpSWTRJTDNDSkxDUEdaS1VQQ0ZVM0FaUlZVVkdUREJPTnxEMjlGRDMzOTQ3RDA2QkM1LVdFU1RVUyIsImpvYkxvY2F0aW9uIjoid2VzdHVzIn0?api-version=2017-05-10']
      x-ms-ratelimit-remaining-subscription-deletes: ['14999']
    status: {code: 202, message: Accepted}
version: 1
